body {
    background-color: hsl(196, 27%, 37%);
    color:rgb(0, 0, 0);
    font-size: 150%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
a:link {
    color:rgba(201, 110, 87, 0.993);
}
a:visited {
    color:crimson;
}
a:hover {
    color:darkgreen;
}
a:active {
    color:gold;
}

h1 {
    background-color: azure;
}

.about-image {
    max-width: 30%;
    margin: auto;
    display: block;
}

.home-image {
    max-width: 30%;
    margin-left: 35%;
    display: block;
}

.divmain{
  background-color: maroon;
  padding: 10px;
  margin: 10px 15%;
  border: ridge 15px gray;
  text-align: center;
  border-radius: 0px 45px;
  font-size: 30px;
  font-family: sans-serif;
  width: 70%;
  color: rgb(182, 177, 177);
}